REQUIRE_POSTGRES=true
AWS_REGION=us-east-2
RDS_PROXY_ARN=arn:aws:rds:us-east-2:574031549478:db-proxy:prx-0ce7c62eb4dd954c1
RDS_SECRET_ARN=arn:aws:secretsmanager:us-east-2:574031549478:secret:rds!db-5e19b321-3b66-4c48-8164-a316849b2677-gzHB2S
RDS_PROXY_ENDPOINT=PROXY_ENDPOINT_FROM_AWS
RDS_DATABASE=aramunj
RDS_SSL_MODE=verify-full
DATABASE_URL=postgresql://USERNAME:PASSWORD@RDS_PROXY_ENDPOINT:5432/DATABASE_NAME?sslmode=verify-full
