REQUIRE_POSTGRES=true
AWS_REGION=us-east-2
RDS_DB_INSTANCE_IDENTIFIER=aramunj-postgres
RDS_HOST=aramunj-postgres.c9aewamuqc3f.us-east-2.rds.amazonaws.com
RDS_PORT=5432
RDS_DATABASE=aramunj
RDS_SSL_MODE=verify-full
RDS_PROXY_ARN=arn:aws:rds:us-east-2:574031549478:db-proxy:prx-0ce7c62eb4dd954c1
RDS_SECRET_ARN=arn:aws:secretsmanager:us-east-2:574031549478:secret:rds!db-5e19b321-3b66-4c48-8164-a316849b2677-gzHB2S
RDS_PROXY_ENDPOINT=aramunj.proxy-c9aewamuqc3f.us-east-2.rds.amazonaws.com
DATABASE_URL=postgresql://USERNAME:PASSWORD@aramunj-postgres.c9aewamuqc3f.us-east-2.rds.amazonaws.com:5432/aramunj?sslmode=verify-full
