REQUIRE_POSTGRES=true
AWS_REGION=us-east-2
RDS_PROXY_ARN=arn:aws:rds:us-east-2:574031549478:db-proxy:prx-0ce7c62eb4dd954c1
RDS_PROXY_ENDPOINT=PROXY_ENDPOINT_FROM_AWS
DATABASE_URL=postgresql://USERNAME:PASSWORD@RDS_PROXY_ENDPOINT:5432/DATABASE_NAME?sslmode=verify-full
